{{ define "main" }}
	<article class="post">
		<p>{{ with .Params.featured_image }}<img id="gallery-viewer" src="{{ . }}">{{ end }}</p>

		<h1>{{ .Title }}</h1>

		<div class="post-content gallery">{{ .Content | safeHTML }}</div>

		<p class="meta">Posted on <span class="postdate">{{ .Date.Format "02. January 2006" }}</span></p>
	
		<script>
			(function(){
				const ACTIVE_CLASS = 'active';
				const view = document.getElementById('gallery-viewer');
				const images = document.querySelectorAll('.post-content.gallery figure img');

				images.forEach((el) => {
						el.addEventListener('click', (e) => {
							resetActives();
							view.src = e.target.src;
							e.target.classList.add(ACTIVE_CLASS);
						});
					})

				function resetActives() {
					images.forEach((el) => {
						el.classList.remove(ACTIVE_CLASS);
					});
				}
			})()
		</script>
	
	</article>
{{ end }}
